@import url(./assets/fonts/style.css);

:root {
  font-family: Bender Regular;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

h2 {
  margin: 0;
  font-size: 1.25rem;
}

.glow {
  text-shadow: #9a8866 0 0 6px;
}

.logo-text {
  position: relative;
  margin: 0;
  text-align: center;
}

/* BUTTONS */

button {
  font-family: Bender Regular;
  font-size: 2rem;
  color: #000;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  background-color: #9a8866;
  padding: 10px 20px;
  border-radius: 3px;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

button:hover {
  opacity: 1;
}

/* IMAGES */

.logo {
  background-image: url("./assets/pngaaa.com-2909749.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100px;
}

.main-container {
  display: flex;
}

.sidebar-container {
  position: relative;
  height: 100vh;
  width: 432px;
}

.sidebar {
  position: fixed;
  top: 42px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  max-width: 400px;
}

.logo-container {
  display: flex;
  flex-direction: column;
}

.bg-img {
  background-image: url("./assets/eft_background.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  transform: scale(1.2);
  transform-origin: center center;
}

.bg-img::after {
  content: "";
  position: absolute;
  inset: 0px;
  box-shadow: black 0 0 80 160px inset;
  z-index: 1;
  pointer-events: none;
}
#scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.part-parent-container {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: left;
  background-color: #111;
  border: #333 1px solid;
  padding: 16px;
  box-sizing: border-box;
}

.part-parent-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.part-child-info.has-before::before {
  content: "";
  width: 64px;
  height: 64px;
  background: url("./assets/elbow.svg");
  position: absolute;
  transform: translateX(-80px);
}

.part-info {
  display: flex;
  flex-direction: column;
}

.part-child-container {
  padding: 1rem 0 0 80px;
  display: grid;
}

.indent {
  padding-left: 80px;
}

.connector {
  position: relative;
  width: 30px;
  height: 20px; /* vertical reach */

  display: flex;
  align-items: center;
  justify-content: center;
}

.connector::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #b2a789;
}

.connector::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: #b2a789;
}

.part-child-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.mobile-header {
  display: none;
}

.mobile-button {
  display: none;
}

.elbow {
  width: 64px;
  height: 64px;
  background: url("./assets/elbow.svg");
}

@media only screen and (max-width: 1000px) {
  h1 {
    margin: 0;
  }
  button {
    opacity: 100%;
    font-size: 2.5rem;
    padding: 20px 30px;
    z-index: 3;
  }
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .sidebar-container {
    display: none;
  }

  .sidebar {
    display: none;
  }
  .part-parent-container {
    min-width: 100%;
    padding: 16px;
  }

  .part-child-container {
    padding: 1rem 0 0 0;
  }
  .mobile-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .logo {
    max-height: 75px;
  }

  .mobile-button {
    display: flex;
    width: 100vw;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 32px 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    z-index: 2;
  }

  .elbow {
    display: none;
  }
  .part-child-info.has-before::before {
    display: none;
  }
}
